body {
    background: url("../images/background.png");
    text-align: center;
    font-family: 'Kalam', cursive;
    letter-spacing: 3px;
}

h1 {
    border-style: solid;
    background-color: whitesmoke;
    display: inline;
    color: skyblue;
    font-size: 35px;
    border-width: 3px;
}

#directions {
    margin-top: 5px;
    border-style: solid;
    background-color: whitesmoke;
    color: skyblue;
    font-size: 15px;
    width: 750px;
    margin-left: 200px;
    border-width: 3px;
} 

#card1 {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
    border-color: skyblue;
    border-width: 3px;
    background-color: whitesmoke;
}

#tally {
    height: px;
}

.card {
    width: 30%;
    margin: 0 auto;
    display: inline-block;
    border-color: skyblue;
    border-width: 3px;
    background-color: whitesmoke 
}

img {
    height: 75px;
    width: 75px;
}

#playerScore, #targetNumber, #playerWins, #playerLosses {
    font-size: 25px;
}

